.resumebutton{
    font-family: cursive;
    padding:2px 12px;
    margin-top:4px;
  }

  .resumebutton:hover{
    transform: scale(1.1);
  }
  
.navitem{
    font-family: cursive;
    height: 100%;
    border-bottom: 3px solid transparent;
    line-height: 40px;
    margin-right: 10px;
    font-size:18px;
    padding-left:10px;
   
  }

  .navitem:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .navitem:hover:after {
    width: 100%;
    background:#4b8118;
  }
  